/*
font-family: 'Poppins', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Play', sans-serif;
*/

/* Define colors*/
/*:root {*/
/*    --primary: #161A30;*/
/*    --secondary: #31304D;*/
/*    --accent: #B6BBC4;*/
/*    --text: #F0ECE5;*/
/*}*/
:root {
    --primary: #161A30;
    --secondary: #31304D;
    --accent: #EA906C;
    --text: #F0ECE5;
}
/* Main structure */
body {
    background-color: var(--primary);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 2;
    font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}
h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    margin: 1em 0 2em;
}
h3 {
    font-family: 'Orbitron', sans-serif;
    margin: 1em 0;
}
.container {
    padding: 2% 7%;
}
hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--accent);
}
a, a:visited {
    color: var(--text);
    text-decoration: none;
}
a:hover  {
   text-decoration: underline;
}
i {
    color: var(--accent);
}
code {
    color: var(--accent);
}

/* Sections */
#header {
    background-color: var(--secondary);
}
#header .container {
    padding: 2% 7%;
}
#about .text{
    text-align: justify;
}
#skills .row {
    text-align: left
}
#footer {
    font-family: 'Orbitron', sans-serif;
    background-color: var(--secondary);
}
#footer i {
    color: var(--text);
}
.footer-link {
    padding: 0 20px;
    text-decoration: none;
}

/* Specific */
.profile-image {
    width: 20%;
    float: left;
    margin-right: 30px;
}


